.container {
    margin: 50px 0;
}

.card {
    margin: 0 2% !important;
    background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.infected {
    border-top: 3px solid rgba(0, 0, 255, 0.5);
    border-bottom: 3px solid rgba(0, 0, 255, 0.5);;
}

.recovered {
    border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}

.deaths {
    border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}